@charset "UTF-8";

/* police custom */
@font-face {
  font-family: 'caesar';
  src: url(font/CAESAR.ttf) format(‘truetype’)
}

/*Style général applicable sur toute la page*/
* {
  font-family: caesar, Arial, Helvetica;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
}

html, body {
  background-color: black;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(image/fond_back.jpg);
  /* background-repeat: no-repeat; */
}

/* principe de changement de fond par Gradient*/

/* .textemulticolore {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
} */


/*en tête & pied de page*/
header {
  bottom: 50px;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0px;
  box-shadow: 0px 10px 4px rgb(36, 36, 92);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  width: 12%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav .menu_disposition {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  text-align: center;
  font-size: x-large;
  opacity: 0.8;
}

nav .menu_disposition:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.sous-menu {
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav>ul li:hover .sous-menu {
  display: block;
}

.sous-menu li {
  float: none;
  width: 100%;
  text-align: left;
}

.sous-menu .menu_disposition {
  padding: 10px;
  border-bottom: none;
}

.sous-menu .menu_disposition:hover {
  border-bottom: none;
  background-color: rgb(182, 25, 25);
}

.deroulant>.menu_disposition::after {
  content: "";
  font-size: 12px;
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;
}

/* bas de page */

footer {
  text-align: justify;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0px;
  background: #4f4f4f;
  box-shadow: 0px 0px 15px #333333;
  border-top: 2px solid #771717;
}

footer p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/*Section*/

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1000px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto auto;
  margin-top: 10px;
  box-shadow: 0px 0px 20px #1d0404;
  background-color: #4d0808;
  border-radius: 20px/20px;
}

section h2 {
  margin: 20px 0;
  width: 90%;
}

h2 {
  text-decoration: underline;
}

section>div {
  width: 90%;
}

p {
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  border-radius: 10px/10px;
  font-size: 18px;
  font-family: caesar, Arial, Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: normal;
  text-align: justify;
  color: white;
}

.p_intro {
  background-color: rgb(97, 24, 24);
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
  margin-top: 12px;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.text {
  display: flex;
}

/* formatage des image et photo */
.photo_text_format {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
}

.text_format {
  margin-left: 10px;
  overflow: hidden;
}

.video_intro {
  margin-top: 1%;
  background-color: #1d0404;
  box-shadow: 0px 0px 50px #501717;
}

.videoformat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 1%;
}

iframe {
  box-sizing: border-box;
  box-shadow: 0px 0px 50px #501717;
}

.image {
  box-sizing: border-box;
  box-shadow: 0px 20px 50px #771616;
}

/*VERSION BUREAU DU Site (code réajustable en fonction du besoin) BETA !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (max-width: 800px) {
  section {
    width: 500px;
    box-shadow: 0px 0px 10px #bbbbbb;
  }
}