/* codé par Thomas Bouret alias satt105 */
@charset "UTF-8";
/* ici sont les feuille de style auto adaptable */


/*VERSION BUREAU adaptable (code réajustable en fonction du besoin)*/
@media only screen and (max-width: 1328px) {

  /* réadaptation de l'espacement du menu */
  nav .menu_disposition {
    font-size: large;
  }

  nav ul li {
    width: 10%;
  }

  .logo {
    height: 30px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {

  /* réadaptation de l'espacement du menu */
  nav .menu_disposition {
    font-size: normal;
    margin-left: 10px;
    margin-right: 10px;
  }

  nav ul li {
    width: 8%;
  }
}