/* codé par Thomas Bouret alias satt105 */
@charset "UTF-8";

/* police custom */
@font-face {
  font-family: 'caesar';
  src: url(font/CAESAR.ttf) format(‘truetype’)
}

/*Section*/

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1000px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1d0404;
  box-shadow: 0px 0px 50px #501717;
  border-radius: 20px/20px;
  background: linear-gradient(0deg, rgb(59, 7, 7), rgb(77, 6, 6));
  animation: pulse 3.0s infinite;
}

section h2 {
  margin: 20px 0;
  width: 90%;
}

/* animation magique des sections */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 5px linear-gradient(0deg, rgb(59, 7, 7), rgb(88, 6, 6));
    ;
  }

  100% {
    box-shadow: 0 0 0 5px linear-gradient(0deg, rgb(78, 6, 6), rgb(100, 2, 2));
    ;
  }
}

/* commande pour faire clignoter du texte */
/* animation: clignotant 4s linear infinite;
-moz-animation: clignotant 4s linear infinite; */
@keyframes clignotant {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

/* fin des animations */
h2 {
  text-decoration: underline;
}

section>div {
  width: 90%;
}

p {
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  border-radius: 10px/10px;
  font-size: 18px;
  font-family: caesar, Arial, Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: normal;
  text-align: left;
  color: white;
}

.p_intro {
  background-color: rgb(97, 24, 24);
}

h1 {
  font-size: 36px;
  margin-bottom: 12px;
  margin-top: 12px;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.text {
  display: flex;
}

.text_gras {
  font-weight: bold;
  letter-spacing: 1px;
}

/* principe de changement de fond par Gradient*/

.textemulticolore {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* codé par Thomas Bouret alias satt105 */