/* codé par Thomas Bouret alias satt105 */
@charset "UTF-8";
/* ici sont les feuille de style auto adaptable */
/* elle sont toutes en version BETA!!! */


/*VERSION BUREAU adaptable (code réajustable en fonction du besoin)*/
@media only screen and (max-width: 1328px) {

  /* réadaptation de l'espacement du menu */
  nav .menu_disposition {
    font-size: large;
  }

  nav ul li {
    width: 10%;
  }

  .logo {
    height: 30px;
    max-width: 100%;
  }

  .map:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
  }

  .image_big:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1024px) {

  /* réadaptation de l'espacement du menu */
  nav .menu_disposition {
    font-size: normal;
    margin-left: 10px;
    margin-right: 10px;
  }

  nav ul li {
    width: 8%;
  }

  /* en cours de réécriture */
  /* .map:hover {

  }

  .image_big:hover {
  
  } */
  /* en cours de réécriture */
}