/* codé par Thomas Bouret alias satt105 */
@charset "UTF-8";

html,
body {
  background-color: gray;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(image/fond_back.jpg);
}

/*en tête & pied de page*/
header {
  margin-bottom: 10px;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0px;
  box-shadow: 0px 10px 4px rgb(36, 36, 92);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav .menu_disposition {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  text-align: center;
  font-size: x-large;
  opacity: 1;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

nav .menu_disposition:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.sous-menu {
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 1000;
}

nav>ul li:hover .sous-menu {
  display: block;
}

.sous-menu li {
  float: none;
  width: 100%;
  text-align: center;
}

.sous-menu .menu_disposition {
  padding: 10px;
  border-bottom: none;
}

.sous-menu .menu_disposition:hover {
  border-bottom: none;
}

.deroulant>.menu_disposition::after {
  content: "";
  font-size: 12px;
}

.logo {
  display: inline-block;
  height: 50px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  border-radius: 0px;
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
}

.menu_disposition::before {
  background: #8a1515;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* pour qu'il se mette en dessous du titre  test après */
  transition: all 0.4s ease;
  width: 100%;
  height: 0%;
}

.menu_disposition:hover::before {
  height: 100%;
}

/* formatage des images */
.photo_text_format {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
}

img {
  border-radius: 20px/20px;
  animation: apparition 4s linear;
  -moz-animation: apparition 4s linear;
  -webkit-animation: apparition 4s linear;
}

/* formatage de la vidéo d'introduction */
.video_intro {
  margin-top: 1%;
  background-color: #1d0404;
  box-shadow: 0px 0px 50px #501717;
}

.video_intro_format {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 5px 5px 5px 5px;
}

iframe {
  box-sizing: border-box;
  box-shadow: 0px 0px 50px #501717;
  border-radius: 20px/20px;
}

/* fin du formatage de la vidéo d'introduction */

/* image index formatage */
.image {
  box-sizing: border-box;
  box-shadow: 0px 0px 50px #771616;
  height: 700px;
  width: 500px;
}

.imagebanniere {
  box-sizing: border-box;
  box-shadow: 0px 0px 50px #771616;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 900px;
  height: 480px;
}

.image_big {
  width: 1000px;
  height: 600px;
  transition: 1.0s all ease-in;
  -moz-transition: 1.0s all ease-in;
  -webkit-transition: 1.0s all ease-in;
}

.image_big:hover {
  -ms-transform: scale(1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
}

.legende_index {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

figcaption {
  font-size: small;
  text-decoration: underline;
  text-rendering: geometricPrecision;
  margin-bottom: 5px;
  animation: apparition 4s linear;
  -moz-animation: apparition 4s linear;
  -webkit-animation: apparition 4s linear;
}

/* fin du formatage des images de l'index */
/* carte redimensionnement */
.map {
  max-width: 100%;
  height: auto;
  transition: 1.0s all ease-in-out;
  padding: 10px 10px 10px 10px;
}

.map:hover {
  -ms-transform: scale(1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
}

/* bas de page */
footer {
  text-align: justify;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0px;
  background: #4f4f4f;
  box-shadow: 0px 0px 15px #333333;
  border-top: 2px solid #771717;
}

footer p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* fin du bas de page */

/* codé par Thomas Bouret alias satt105 */